<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <img height="100" src="../assets/images/gashArtboard.png">
      </div>
    </div>
  </nav>
<div class="buttonHolder">
    <button routerLink="/schedule" class="btn btn-primary btn-lg button-size" >
        Control De Horarios
      </button>
</div>
  
<div  class="buttonHolder">
    <button routerLink="/transit" class="btn btn-primary btn-lg button-size">
        Control De Tránsito
    </button>
</div>

