<nav class="navbar navbar-inverse navbar-size">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="logo"><img height="80" src="../assets/images/gashArtboard.png" routerLink="/menu"></div>
      <div class="header-text"><h2>Crear Horario</h2></div>
    </div>
  </div>
</nav>

<div class="table-view">
    <table class="table table-bordered table-responsive table-size">
        <tbody>
          <tr>
            <th bgcolor="#D8D8D8">
              <i>Horario</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i>Domingo:</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i>Lunes:</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i>Martes:</i>     
            </th>
            <th bgcolor="#D8D8D8">
              <i>Miécoles:</i>  
            </th>
            <th bgcolor="#D8D8D8">
              <i>Jueves:</i>  
            </th>
            <th bgcolor="#D8D8D8">
              <i>Viernes:</i>   
            </th>
            <th bgcolor="#D8D8D8">
              <i>Sábado:</i> 
            </th>
          </tr>
          <tr>
            <td><i style="font-weight: bold;">Entrada:</i></td>
            <td><input #mondayEntrance (change)="textScheduleEmpty(mondayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #tuesdayEntrance (change)="textScheduleEmpty(tuesdayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #wednesdayEntrance (change)="textScheduleEmpty(wednesdayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #thursdayEntrance (change)="textScheduleEmpty(thursdayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #fridayEntrance (change)="textScheduleEmpty(fridayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #saturdayEntrance (change)="textScheduleEmpty(saturdayEntrance.value)" class="time-picker" type="time" ></td>
            <td><input #sundayEntrance (change)="textScheduleEmpty(sundayEntrance.value)"  class="time-picker" type="time" ></td>
          </tr>
          <tr>
            <td><i style="font-weight: bold;">Salida:</i></td>
            <td><input #mondayOut (change)="textScheduleEmpty(mondayOut.value)" class="time-picker" type="time" ></td>
            <td><input #tuesdayOut  (change)="textScheduleEmpty(tuesdayOut.value)" class="time-picker" type="time" ></td>
            <td><input #wednesdayOut  (change)="textScheduleEmpty(wednesdayOut.value)" class="time-picker" type="time" ></td>
            <td><input #thursdayOut  (change)="textScheduleEmpty(thursdayOut.value)" class="time-picker" type="time" ></td>
            <td><input #fridayOut  (change)="textScheduleEmpty(fridayOut.value)" class="time-picker" type="time" ></td>
            <td><input #saturdayOut  (change)="textScheduleEmpty(saturdayOut.value)" class="time-picker" type="time" ></td>
            <td><input #sundayOut  (change)="textScheduleEmpty(sundayOut.value)" class="time-picker" type="time" ></td>
          </tr>
        </tbody>
    </table>
</div>

<div class="table-view">
  <table class="table table-bordered table-responsive table-size">
    <tr>
      <th bgcolor="#D8D8D8">
          <i (click)="seleactAll()">Seleccionar todos</i> 
      </th>
      <th bgcolor="#D8D8D8">
        
          <i>Nombre de Chofer</i> 
      </th>
      <th bgcolor="#D8D8D8">
          <i># ID </i> 
      </th>
      <th bgcolor="#D8D8D8">
          <i>Teléfono</i> 
      </th>
    </tr>
    <tr *ngFor="let driver of drivers">
      <td><input type="checkbox" [(ngModel)]="driver.selected"></td>
      <td>{{driver.driverName}}</td>
      <td>{{driver.driverNationalId}}</td>
      <td>{{driver.driverTelephoneNumber}}</td>
    </tr>
  </table>
</div>
<div class="submitContainer">
  <button class="submit" (click)="addSchedule(mondayEntrance.value, tuesdayEntrance.value, wednesdayEntrance.value, 
  thursdayEntrance.value, fridayEntrance.value, saturdayEntrance.value, sundayEntrance.value, mondayOut.value, tuesdayOut.value, wednesdayOut.value,
  thursdayOut.value, fridayOut.value, saturdayOut.value, sundayOut.value);">Registar</button>
</div>
<br>

