<nav class="navbar navbar-inverse navbar-size">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="logo"><img height="80" src="../assets/images/gashArtboard.png" routerLink="/menu"></div>
        <div class="header-text"><h2>Control de Horarios</h2></div>
      </div>
    </div>
  </nav>
<div class="right-bar">
  <ul>
    <li ><button class="btn-link" data-toggle="modal" data-target="#addDriverModal">Agregar Chofer</button></li>
    <li><button routerLink="/create-schedule" class="btn-link">Crear Horario</button></li>
    <li><button class="btn-link">Plantillas</button></li>
    <li><button class="btn-link">Reportes</button></li>
    <li><button class="btn-link">Horas Extra</button></li>
  </ul>
</div>


<!-- Modal -->
<div id="addDriverModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-driver">
        <button type="button" class="close close-modal-button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar Chofer</h4>
      </div>
      <div class="modal-body">
        <label>Nombre Completo</label>
        <input #driverName class="form-control">
        <label>Cedula de Identidad</label>
        <input #driverNid class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        <label>Nacimiento</label>
        <input #driverBirthDate type="date" class="form-control">
        <label>Número de teléfono</label>
        <input #driverPhoneNumber class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        <label>Camión</label>
        <br>
        <select [(ngModel)]="selectedValue">
          <option value="default">Seleccione un camión</option>
          <option *ngFor="let truck of trucks" [ngValue]="truck">{{truck.truckNumber}} : {{truck.truckMake}} </option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-search" data-dismiss="modal" (click)="addDriver(driverName.value, driverNid.value,driverBirthDate.value,driverPhoneNumber.value);
        driverName.value=''; driverNid.value='';driverPhoneNumber.value='';" >Agregar</button>
      </div>
    </div>
  </div>
</div>

<div class="filter-pane-table-view">
  <div class="search-bar">
    <label class="right-pane">Filtrar por:</label>
    <select class="filter">
        <option value="A-Z" selected>A-Z</option>
        <option value="Z-A">Z-A</option>
    </select>
    <select class="filter">
        <option value="Hora" selected>Hora</option>
        <option value="Empty"></option>
    </select>
    <select class="filter">
        <option value="ID" selected>ID</option>
        <option value="Ruta">Ruta</option>
    </select>
    <input class="filter" placeholder="Search">
    <button class="btn-search glyphicon glyphicon-search"></button>
  </div>

    <table class="table table-bordered table-responsive table-size">
        <tbody>
          <tr>
            <th bgcolor="#D8D8D8">
              <i>Nombre de Chofer</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i># ID</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i>Entrada</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i>Salida</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i># Ruta</i>
            </th>
            <th bgcolor="#D8D8D8">
              <i># Camión</i>
            </th>
            <th bgcolor="#D8D8D8">
                <i>Estado</i> 
              </th>
          </tr>
          <tr *ngFor="let schedule of schedules">
            <td bgcolor="#424242" >{{schedule.name}}</td>
            <td bgcolor="#424242">{{schedule.id}}</td>
            <td bgcolor="#424242"[ngStyle]="{'color': getColorSchedule(schedule.entrance, schedule.out)}">{{schedule.entrance}}</td>
            <td bgcolor="#424242"[ngStyle]="{'color': getColorSchedule(schedule.entrance, schedule.out)}">{{schedule.out}}</td>
            <td bgcolor="#424242">{{schedule.route}}</td>
            <td bgcolor="#424242">{{schedule.truck}}</td>
            <td bgcolor="#424242" (click)="changeStatus(schedule.id, schedule.processStatus)" [ngStyle]="{'color': getColorStatus(schedule.entrance, schedule.out)}">{{schedule.processStatus}} </td>
          </tr>
        </tbody>
    </table>
</div>
